---
---
<section id="about" class="my-16 p-8 text-white rounded-lg">
    <h2 class="text-4xl font-bold text-center mb-10 transition-transform duration-500 ease-in-out transform hover:scale-110">About Me</h2>
    <p class="mt-4 text-lg text-justify">Hey! I am <a class="text-violet-400 hover:text-pink-300">Leandro Soto Miranda</a>, a Software Engineer passionate about data science and technology. Throughout my career, I have developed technical skills in Python, SQL, machine learning, and cloud computing, with experience in implementing solutions based on Azure and GCP.</p>

    <p class="mt-4 text-lg text-justify">I have had the opportunity to work in various roles, including Junior Data Scientist, Junior Data Engineer, Junior Data Analyst, and Software Engineer. In each of these roles, I have applied my knowledge to develop efficient solutions that deliver positive outcomes for clients and companies.</p>

    <p class="mt-4 text-lg text-justify">Some of the projects I am most proud of include automation using OCR along with Fuzzy Logic for capturing images and extracting information from inventory sheets, which significantly improved the client experience in terms of optimization and time, increasing productivity. I also conducted a data analysis on earthquakes in Chile, using advanced data analysis and visualization tools to identify patterns and trends.</p>

    <ul class="mt-4 flex justify-center space-x-4 text-lg">
    </ul>
</section>
