---
---
<section id="about" class="my-16 p-8 text-white rounded-lg">
    <h2 class="text-4xl font-bold text-center mb-10 transition-transform duration-500 ease-in-out transform hover:scale-110">About Me</h2>
    <p class="mt-4 text-lg text-justify">Hey! I am <a class="text-violet-400 hover:text-pink-300">Leandro Soto Miranda</a>, a Computer Engineer passionate about data science and technology. Throughout my career, I have developed technical skills in Python, SQL, machine learning, and cloud computing, with experience in implementing solutions based on Azure and GCP.</p>

    <p class="mt-4 text-lg text-justify">I have had the opportunity to work in diferents roles, including Jr Data Scientist, Jr Data Engineer, Jr Data Analyst, and Software Engineer. In each of these roles, I have applied my knowledge to develop efficient solutions that are results-oriented and beneficial for clients and companies.</p>

    <p class="mt-4 text-lg text-justify">Some of the projects I am most proud of include automating image capture and extracting information from inventory sheets using OCR and fuzzy logic, which significantly improved the client experience by optimizing time and increasing productivity. I also conducted a data analysis on earthquakes in Chile, where I used advanced data analysis and visualization tools to identify patterns and trends.</p>

    <ul class="mt-4 flex justify-center space-x-4 text-lg">
    </ul>
</section>
