---
// Aquí puedes agregar información sobre ti
const about = {
  name: "Leandro Soto",
  description: "Hola uwu.",
};
---
<section id="about" class="my-16 p-8 bg-gradient-to-r from-blue-500 to-purple-600 text-white rounded-lg shadow-lg">
    <h2 class="text-3xl font-bold text-center">Sobre Mí</h2>
    <p class="mt-4 text-lg text-center">{about.description}</p>
    <ul class="mt-4 flex justify-center space-x-4 text-lg">
    </ul>
</section>

