---
// Aquí puedes agregar tu información de contacto
const contact = {
  email: "leasotompriv@gmail.com",
  linkedin: "https://www.linkedin.com/in/leandro-soto-miranda-767a72264/"
};
---

<section id="contact" class="my-16 p-8 bg-gray-100 rounded-lg shadow-md">
    <h2 class="text-3xl font-bold text-center">Contacto</h2>
    <p class="mt-4 text-lg text-center">
        Si deseas ponerte en contacto conmigo, puedes enviarme un correo a 
        <a href={`mailto:${contact.email}`} class="text-blue-600 hover:text-blue-800 transition duration-300">
          <i class="fas fa-envelope text-xl mr-2"></i>{contact.email}
        </a>.
    </p>
    <p class="mt-4 text-lg text-center">
        O puedes encontrarme en 
        <a href={contact.linkedin} target="_blank" class="text-blue-600 hover:text-blue-800 transition duration-300">
          <i class="fab fa-linkedin text-xl mr-2"></i>LinkedIn
        </a>.
    </p>
</section>
