---
// Datos para el footer
const footerData = {
  year: new Date().getFullYear(),
  links: [
    { name: "LinkedIn", url: "https://linkedin.com/in/tu-perfil", icon: "fab fa-linkedin" },
    { name: "GitHub", url: "https://github.com/tu-usuario", icon: "fab fa-github" }
  ]
};
---

<footer class=" bg-opacity-70 backdrop-blur-md text-white py-6">
  <div class="container mx-auto flex flex-col items-center">
    <!-- Copyright -->
    <p class="text-sm text-center mb-4">
      &copy; {footerData.year} leandruko. Todos los derechos reservados.
    </p>

    <!-- Links -->
    <div class="flex space-x-4">
      {footerData.links.map(link => (
        <a href={link.url} target="_blank" rel="noopener noreferrer" class="hover:text-blue-400 transition duration-300">
          <i class={`${link.icon} text-xl`}></i>
        </a>
      ))}
    </div>
  </div>
</footer>
