---
// Aquí puedes agregar tus proyectos
const projects = [
  {
    title: "Sismos Chile",
    description: "Proyecto de análisis de datos sobre el dataset de Sismos en Chile, para ver tendencias o patrones durante los últimos años.",
    link: "https://github.com/leandruko/sismos-Chile"
  },
  {
    title: "Monopoly ML",
    description: "Proyecto de Machine Learning para predecir si el cliente se retira del banco.",
    link: "https://github.com/leandruko/MonopolyMLproject"
  },
  {
    title: "Weather Australia",
    description: "Proyecto realizado en equipo para predecir si mañana llueve en Australia, mediante técnicas de análisis de datos y Machine Learning.",
    link: "https://github.com/leandruko/MineriaDatosProject"
  },
  {
    title: "Recomendación de películas",
    description: "Proyecto realizado para recomendación de películas utilizando técnicas de filtrado colaborativo y similitud de coseno además del uso de Streamlit.",
    link: "https://github.com/leandruko/recomendacion-peliculas"
  },
  {
    title: "Proyecto 5",
    description: "Descripción del proyecto 5.",
    link: "https://enlace-a-tu-proyecto2.com"
  },
  {
    title: "Proyecto 6",
    description: "Descripción del proyecto 6.",
    link: "https://enlace-a-tu-proyecto2.com"
  },
];
---

<section id="projects" class="my-16 p-8 bg-gray-100 rounded-lg shadow-lg">
    <h2 class="text-3xl font-bold text-center">Proyectos Realizados</h2>
    <div class="mt-8 grid grid-cols-1 md:grid-cols-2 gap-8">
      {projects.map(project => (
        <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-xl transition-shadow duration-300">
          <h3 class="text-xl font-bold mb-2">{project.title}</h3>
          <p class="mb-4">{project.description}</p>
          <a href={project.link} target="_blank" class="text-blue-600 hover:text-blue-800 transition-colors duration-300 font-semibold">
            Ver Proyecto &rarr;
          </a>
        </div>
      ))}
    </div>
</section>
